<section class="w-full lg:h-full flex flex-col gap-2">
  <h1 class="text-3xl font-bold uppercase px-2 text-white">WELCOME USER!</h1>
  <div class="w-full px-2 flex max-md:flex-wrap lg:items-center gap-3 pt-2">
    <div
      class="border-2 border-white rounded w-56 p-3 text-end max-sm:w-11/12 backdrop-blur-3xl bg-white/90"
    >
      <h1 class="font-bold text-2xl">Total Tickets</h1>
      <h1 class="font-bold text-2xl">64</h1>
    </div>
    <div
      class="border-2 border-white rounded w-56 p-3 text-end max-sm:w-11/12 backdrop-blur-3xl bg-white/90"
    >
      <h1 class="font-bold text-2xl">Pending Tickets</h1>
      <h1 class="font-bold text-2xl">64</h1>
    </div>
    <div
      class="border-2 border-white rounded w-56 p-3 text-end max-sm:w-11/12 backdrop-blur-3xl bg-white/90"
    >
      <h1 class="font-bold text-2xl">Solved Tickets</h1>
      <h1 class="font-bold text-2xl">64</h1>
    </div>
  </div>
  <div class="lg:flex-1 max-lg:w-full px-2 text-white">
    <div>
      <div class="flex items-center justify-between">
        <h1 class="text-3xl font-bold uppercase invisible">WELCOME USER!</h1>
        <div class="pe-2">
          <button type="button" class="px-2 py-1 bg-green-500 rounded">
            Create Ticket
          </button>
        </div>
      </div>
      <div class="w-full pt-2">
        <div
          class="w-full bg-white text-black px-2 py-1 pt-2 rounded-t-lg flex items-center justify-between"
        >
          <h2 class="font-bold text-xl text-black">Tickets</h2>
          <div class="pe-2.5">
            <fa-icon
              [icon]="['fas', 'plus']"
              class="cursor-pointer"
              title="Create Ticket"
            ></fa-icon>
          </div>
        </div>
        <div>
          <table class="table table-hover" datatable [dtOptions]="dtOptions">
            <thead>
              <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Kalees</td>
                <td>Roll Back</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
