<header class="px-3.5 py-1.5">
  <nav class="flex justify-between items-center">
    <div class="flex items-center">
      <div>
        <h3 class="font-bold text-xl cursor-pointer">TMS</h3>
      </div>
      <div></div>
    </div>

    <div class="flex items-center">
      <div></div>
      <div>
        <button
          class="border-[1.5px] rounded font-semibold px-3.5 py-1 border-black hover:bg-black text-white"
        >
          Login
        </button>
      </div>
    </div>
  </nav>
</header>
