<header class="px-3.5 py-1.5">
  <nav class="flex justify-between items-center">
    <div class="flex items-center">
      <div>
        <h3 class="font-bold text-xl cursor-pointer">TMS</h3>
      </div>

      <div></div>
    </div>

    <div class="flex items-center">
      <div></div>
      <div class="flex items-center gap-2">
        <button
          *ngIf="!user()"
          class="text-white font-semibold"
          (click)="navigate('/login')"
        >
          Login / Register
        </button>
        <button
          *ngIf="user()"
          class="text-white font-semibold disabled:cursor-not-allowed"
          (click)="logout()"
          [disabled]="loading"
        >
          Logout
        </button>
      </div>
    </div>
  </nav>
</header>
