/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

.input {
  @apply border  bg-transparent border-[#5251f1] text-black  rounded focus:outline-none focus:border-[#5251f1] block w-full p-2.5 placeholder:text-[#5251f1];
}

.input-invalid {
  @apply border  bg-transparent text-black border-red-500 ring-2 ring-red-500 rounded focus:outline-none focus:border-red-500 block w-full p-2.5 placeholder:text-red-500;
}

.input-valid {
  @apply border  bg-transparent text-black border-green-500 ring-2 ring-green-500  rounded focus:outline-none focus:border-green-500 block w-full p-2.5 placeholder:text-green-500;
}

.label {
  @apply block mb-2 text-sm font-medium text-black;
}

.submit-btn {
  @apply block text-[#01eed0] disabled:cursor-not-allowed py-2 text-center border border-[#01eed0] rounded hover:bg-[#01eed0] hover:border-[#01eed0] hover:text-white font-semibold;
}

.dash-bg-img {
  background: url("../public/images/d-bg-1.jpg");
  background-position: center;
  background-size: cover;
}

.btn-p {
  @apply p-1.5  px-3 border text-[#5251f1] border-[#5251f1] hover:bg-[#5251f1] hover:text-white font-semibold;
}

.btn-g {
  @apply p-1.5 px-3 border text-[#01eed0] border-[#01eed0] hover:bg-[#01eed0] hover:text-white font-semibold;
}

.btn-b {
  @apply p-1.5 px-3 border border-black hover:bg-black hover:text-white font-semibold;
}
