<section class="w-full h-screen flex overflow-y-scroll no-scrollbar">
  <!-- Dashboard sidebar -->

  <div
    class="w-2/12 bg-[#fcfcfe] h-full flex flex-col max-lg:hidden overflow-y-scroll no-scrollbar"
  >
    <!-- Logo and Title -->

    <header class="px-12 py-3 text-center flex items-center gap-2.5">
      <div class="size-10 rounded-full grid place-content-center">
        <fa-icon [icon]="['fas', 'ticket']" size="2xl" class=""></fa-icon>
      </div>
      <h1 class="font-bold text-3xl">TMS</h1>
    </header>

    <!-- Nav Links & Profile -->

    <div class="flex-1 flex flex-col pt-6 px-3 justify-between pb-10">
      <!-- Nav links -->
      <nav class="text-center">
        <a
          class="block p-2 rounded cursor-pointer font-semibold text-black/70 hover:bg-[#f3f7fa] hover:text-[#5251f1]"
        >
          <span class="flex items-center gap-3 px-2">
            <i class="bi bi-ticket text-lg"></i>
            <span>Create Ticket</span>
          </span>
        </a>
        <a
          class="block p-2 rounded cursor-pointer font-semibold text-black/70 hover:bg-[#f3f7fa] hover:text-[#5251f1]"
        >
          <span class="flex items-center gap-3 px-2">
            <i class="bi bi-ticket-detailed text-lg"></i>
            <span>Tickets list</span>
          </span>
        </a>
      </nav>

      <!-- Profile -->
      <article class="bg-[#f8f8f8] w-full p-2 border rounded">
        <div class="flex items-center gap-2">
          <div
            class="size-8 rounded-full bg-[#edeef2] grid place-content-center"
          >
            <fa-icon [icon]="['fas', 'user']" class="cursor-pointer"></fa-icon>
          </div>
          <div>
            <span class="block text-sm font-bold text-[#5251f1]">USER</span>
            <span class="block text-[0.7rem]">PROFILE</span>
          </div>
        </div>

        <div class="flex item-center justify-between pt-6">
          <a class="flex gap-2 items-center">
            <i class="bi bi-person-circle"></i>
            <span class="text-[12px] font-semibold block">Profile</span>
          </a>
          <a class="flex gap-2 items-center">
            <fa-icon
              [icon]="['fas', 'right-from-bracket']"
              class="cursor-pointer"
            ></fa-icon>
            <span class="text-[12px] font-semibold block">Logout</span>
          </a>
        </div>
      </article>
    </div>
  </div>

  <!-- Dashboard Body Section -->

  <div class="flex-1 flex flex-col bg-[#f7f8fa] overflow-y-scroll no-scrollbar">
    <!-- Dashboard Header Section -->

    <nav
      class="px-12 py-3 bg-white flex justify-between items-center max-sm:px-6"
    >
      <header class="text-center lg:hidden">
        <div class="text-center flex items-center gap-2.5">
          <div class="size-10 rounded-full grid place-content-center">
            <fa-icon [icon]="['fas', 'ticket']" size="2xl" class=""></fa-icon>
          </div>
          <h1 class="font-bold text-3xl">TMS</h1>
        </div>
        <h3 class="font-semibold text-sm">Dashboard</h3>
      </header>
      <h3 class="font-bold text-2xl max-lg:hidden">Dashboard</h3>
      <div class="flex items-center gap-2.5">
        <div class="flex items-center gap-2.5">
          <span class="text-sm font-bold">USER</span>
          <div
            class="size-8 rounded-full bg-[#edeef2] grid place-content-center"
          >
            <fa-icon [icon]="['fas', 'user']" class="cursor-pointer"></fa-icon>
          </div>
        </div>
        <div class="size-8 rounded-full bg-[#edeef2] grid place-content-center">
          <fa-icon
            [icon]="['fas', 'right-from-bracket']"
            class="cursor-pointer"
          ></fa-icon>
        </div>
        <div
          class="size-8 rounded-full bg-[#edeef2] grid place-content-center lg:hidden"
        >
          <fa-icon
            [icon]="['fas', 'bars']"
            class="cursor-pointer"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight"
          ></fa-icon>
        </div>
      </div>
    </nav>

    <div class="flex-1 flex p-4">
      <!-- <div class="flex-1"></div> router outlet -->
    </div>
  </div>
</section>

<!-- Off canvas -->

<div
  class="offcanvas offcanvas-start h-screen"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    <header class="px-12 py-3 text-center flex items-center gap-2.5">
      <div class="size-10 rounded-full grid place-content-center">
        <fa-icon [icon]="['fas', 'ticket']" size="2xl" class=""></fa-icon>
      </div>
      <h1 class="font-bold text-3xl">TMS</h1>
    </header>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body h-full flex flex-col">
    <div class="flex-1 flex flex-col px-3 justify-between pb-10">
      <!-- Nav links -->
      <nav class="text-center">
        <a
          class="block p-2 rounded cursor-pointer font-semibold text-black/70 hover:bg-[#f3f7fa] hover:text-[#5251f1]"
        >
          <span class="flex items-center gap-3 px-2">
            <i class="bi bi-ticket text-lg"></i>
            <span>Create Ticket</span>
          </span>
        </a>
        <a
          class="block p-2 rounded cursor-pointer font-semibold text-black/70 hover:bg-[#f3f7fa] hover:text-[#5251f1]"
        >
          <span class="flex items-center gap-3 px-2">
            <i class="bi bi-ticket-detailed text-lg"></i>
            <span>Tickets list</span>
          </span>
        </a>
      </nav>

      <!-- Profile -->
      <article class="bg-[#f8f8f8] w-full p-2 border rounded">
        <div class="flex items-center gap-2">
          <div
            class="size-8 rounded-full bg-[#edeef2] grid place-content-center"
          >
            <fa-icon [icon]="['fas', 'user']" class="cursor-pointer"></fa-icon>
          </div>
          <div>
            <span class="block text-sm font-bold text-[#5251f1]">USER</span>
            <span class="block text-[0.7rem]">PROFILE</span>
          </div>
        </div>

        <div class="flex item-center justify-between pt-6">
          <a class="flex gap-2 items-center">
            <i class="bi bi-person-circle"></i>
            <span class="text-[12px] font-semibold block">Profile</span>
          </a>
          <a class="flex gap-2 items-center">
            <fa-icon
              [icon]="['fas', 'right-from-bracket']"
              class="cursor-pointer"
            ></fa-icon>
            <span class="text-[12px] font-semibold block">Logout</span>
          </a>
        </div>
      </article>
    </div>
  </div>
</div>
