<section class="flex-1">
  <div class="bg-white rounded-t px-2 py-2 flex items-center justify-between">
    <h1 class="font-bold text-2xl">Tickets(0)</h1>
    <div>
      <button
        type="button"
        class="block p-2 rounded bg-[#01eed0] hover:bg-[#01eeae] font-semibold text-white"
      >
        Create Ticket
      </button>
    </div>
  </div>

  <div class="bg-white rounded-b p-2">
    <table class="table table-hover table-striped" datatable>
      <thead>
        <tr>
          <th>S.no</th>
          <th>Issue</th>
          <th>Description</th>
          <th>Assigned To</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Bug fix</td>
          <td>Test bug</td>
          <td>Kalees</td>
          <td>Done</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
